<div class="container home-page" style="padding: 12px;">
  <div class="row">
    <div class="col-xs-12">

      <!-- fixed column -->
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-1" style="background: blue;">
            column of Saved Searches (ticker symbol, current stock price, sentiment (1min, red, green)
          </div>
      <!-- end fixed column -->
          
          <div class="col-xs-11">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-xs-11">

                  <div class="row" style="margin-top: 12px;">
                    <div class="col-xs-12 home-search-field">
                        <div class="text-center col-xs-6 col-xs-offset-3">
                          <form role="form" class="form-inline">
                            <div class="form-group">
                              <input type="text" id="company" name="company" class="form-control" placeholder="Search S&P 100" />
                            </div>
                            <input type="submit" value="Submit" style="color: #fff; background: black;" />
                          </form>
                        </div>
                    </div>
                  </div>

                  <div class="row" style="margin: 30px 0px 30px 0px;">
                    <div class="col-xs-12">
                      <div class="row">
                        <div class="col-xs-12" style="height: 200px;">
                          <div class="col-xs-6" style="height: 100%;">
                            <%= render 'shared/sentiment_graph' %> 
                          </div>  
                          <div class="col-xs-6" style="height: 100%;">
                            <%= render 'shared/volume_graph' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" style="margin: 30px 0px 30px 0px;">
                    <div class="col-xs-12">
                      <div class="row">
                        <div class="col-xs-12" style="height: 200px;">
                          <div class="col-xs-6" style="height: 100%;">
                            <%= render 'shared/djia_graph' %>
                          </div>
                          <div class="col-xs-6" style="height: 100%;">
                            <%= render 'shared/nasdaq_graph' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <%= render 'shared/news' %>

                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

     
