<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><div id="landing-title">ChatterPlot</div></a>
        </div>
      </div>
      <div class="text-center col-xs-4" style="padding: 15px;">
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag(:q, nil, :placeholder => "enter company name") %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
      <div class="col-xs-4">
        <div id="login">
          <% if current_user %>
            <%= link_to "Log Out", session_path, method: :delete %>
          <% else %>
            <%= link_to image_tag("twitter.png"), "/auth/twitter" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav> 
