<div class="col-xs-4">
  <div class="row">
    <div class="text-center sentiment-score" style="background-color: <%= @dashboard.color %>;"> 
      <h2>Sentiment score</h2>
      <h2><%= @dashboard.score %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 text-center" style="border: solid black; height: 200px;">
      <div class="row stock-data">
        <p>Daily High</p>
        <p><%= number_to_currency(@dashboard.high, precision: 2) %></p> 
      </div>
      <div class="row stock-data">
        <p>Daily Low</p>
        <p><%= number_to_currency(@dashboard.low, precision: 2) %></p>
      </div>
    </div>

    <div class="col-xs-4 text-center stock-price" style="height: 200px;"> 
      <div class="row stock-data" style="background-color: <%= @dashboard.stock_price_color %>;">
        <p>Stock Price</p>
        <p><%= number_to_currency(@dashboard.stock_price, precision: 2) %></p>
      </div>
      <div class="row stock-data">
        <p>Open</p>
        <p><%= number_to_currency(@dashboard.open, precision: 2) %></p>
      </div>
    </div>

    <div class="col-xs-4 text-center" style="border: solid black; height: 200px;">
      <div class="row stock-data">
        <p>12 Month High</p>
        <p><%= number_to_currency(@dashboard.year_high, precision: 2) %></p>
      </div>
      <div class="row stock-data">
        <p>12 Month Low</p>
        <p><%= number_to_currency(@dashboard.year_low, precision: 2) %></p>
      </div>
    </div>
  </div>
</div>

