<div class="container" style="padding: 12px;">
  <div class="row">
    <div class="row">
      <div class="text-center col-xs-8 col-xs-offset-2">
        <h1 style="color: #fff"><%= @company.name.capitalize %> (<%= @company.ticker_symbol %>)</h1>
      </div>
    </div>
      <div class="text-left col-xs-8 col-xs-offset-2" style="background-color: #fff; height: 500px;"> 
        <h3 style="color: #fff">News Articles</h3>
        <% @articles.each do |article| %>
          <p style="color: black">
            <%= article['title'] %><br>
            <%= article['link'] %><br>
            <%= article['description'] %>
          </p>
        <% end %>
      </div>
  </div>
</div>
  
