<div class="container" style="padding: 12px;">
  <div class="row">

    <div class="row">
      <div class="col-xs-4">
        <h3 class="text-center" style="color: black; background-color: #fff; border: solid black; height: 50px; padding-top: 8px;">Articles relevant to <%= @company.name.capitalize %></h3>
      </div>

      <div class="text-center col-xs-4">
        <h1 class="text-center" style="color: black; background-color: #fff; border: solid black; height: 50px; margin-left: -15px; margin-right: -15px;"><%= @company.name.capitalize %> (<%= @company.ticker_symbol %>)</h1>
      </div>

      <div class="col-xs-4">
        <h3 class="text-center" style="color: black; background-color: #fff; border: solid black; height: 50px; padding-top: 8px;"><%= @company.name.capitalize %> Tweets</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="text-left" style="background-color: #fff; height: 400px; overflow: scroll; padding: 10px; border: solid black;"> 
          <% @articles.each do |article| %>
            <p style="color: black">
            <a href=<%= article['link'] %> target="_blank"><%= article['title'] %></a>
            </p>
          <% end %>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="row">
          <div class="text-center" style="background-color: <%= @color %>; height: 200px; padding: 35px; border: solid black;"> 
            <h2>Sentiment score</h2>
            <h2><%= @score %></h2>
          </div>
        </div>

        <div class="row">
          <div class="text-center" style="background-color: #fff; height: 200px; padding: 35px; border: solid black;"> 
            <h2>Stock Price</h2>
            <h2>$<%= @stock_price %></h2>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="text-left" style="background-color: #fff; height: 400px; overflow: scroll; padding: 10px; border: solid black;"> 
            <% @tweets.each do |tweet| %>
              <p style="color: black">
              <%= tweet %>
              </p>
            <% end %>
          </div>
      </div>
    </div>
        
  </div>
</div>
  
