<!DOCTYPE html>
<html>

<head>
  <title>ChatterPlot</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <%= render 'shared/navigation' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <%= render 'shared/footer' %>
    </div>
  </div>
</body>

</html>
